* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family :unset, sans-serif;
}

.navbar {
    background: #015e3f;
    position: sticky;
    z-index: 9999;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    padding: 0 2rem;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

.nav-list li {
    padding: 2px;
}

.nav-list a {
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: 0.3s;
}

  .hamburger-lines {
    display: none;
    cursor: pointer;
    z-index: 100;
    border-color: #e5e7eb;
}

#check-box {
    display: none;
 
}

/* Mobile Styles */
@media (max-width: 768px) {
    .hamburger-lines {
        display: block;
        position: relative;
    }

    #close-icon {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }
  
    .nav-list {
        position: fixed;
        top: 70px;
        right: -100%;
        background: #2c3e50;
       width: 300px;
       max-height: fit-content;
        height: calc(100vh - 70px);
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        transition: right 0.5s ease;
    }

    .nav-list li {
        margin: 0.5rem 0;
    }

    #check-box:checked ~ .nav-list {
        right: 0;
    }

    #check-box:checked ~ .hamburger-lines #menu-icon {
        display: none;
       
    }

    #check-box:checked ~ .hamburger-lines #close-icon {
        display: block;
        
    }
}


 .home{ 
color: white;
}

.home {
   
    background: url(/IMAGES/invironment-and-malaria.png) no-repeat;
  border-color: #015e3f;
    background-position: center;
   border-style:none ;
    background-size: cover;
    text-align: center;
   height: auto;

    justify-content: center;
 width: auto;
height: calc(100vh -70px);
border-style: double;
border-width: 0.01px 0px 0px;
}
.home p{
    font-size: 25px;
    margin: 80px;
    padding-top: 5px;
  

}
.home p span{
    color: #015e3f;
}
.more-info-button {
    background-color: none;
    border-style: none;
    margin: 20px;
    padding-left: 0%;
}
.more-info-button a{
background:#015e3f ;
position: relative;
padding: 7px 30px;
border: none;
margin-top: 100px;
color: #fff;
font-size: 17px;
border-radius: 25px;

}



#about-us{
    margin: 4rem;
    background-color: rgb(251, 247, 247);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3)
}

#about-us h1{
    margin-left: 6rem;
   padding: 1rem;
}
#about-us p{
    padding: 2rem;
}
#about-us button{
    color: #e5e7eb;
  margin:1rem 8rem;
  font-size: 16px;
  padding: 0.3rem;
  border-radius: 5px;
    background-color: #015e3f;
}

.order-know{
    background-color: #015e3f;
    border-radius: 20px;
    margin:50px ;
    color: white;
    width: 33rem;
    height:13rem ;
}
.order-know p, .order-know h3{
    padding: 0.5rem 1rem 0rem 3rem;
}
.order-know button{
    color: #016342;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    margin:4rem 10rem;
    color: #016342;
    font-weight: bold;
    font-size: 18px;

}
   

.product h1{
    margin-left: 40px;
    color: #015e3f;
    font-size: 38px;
    padding: 30px;
}
.product h3{
  padding:10px;
  margin-left: 60px;  
  font-weight: 600;
  color:#015e3f;
  font-size: 30px;
}


.h1-buy--our-products{
    padding-left: 10rem;
    color: #034c33;
    font-weight: 600;
}




.product img{
  height: 384px;
  margin:20px 40px;
   
}
ol li,.fly {
    font-size: 18px;
    font-weight: 600;
    padding :10px;
    margin-left: 50px;
    padding: 10px 20px;
}
.flying {
    background-color: #015e3f;
 max-width: 400px;
 margin-left: 50px;
 

}
.flying img{
width: 400px;
margin-left: 0%;
}
.process{
color: #ffffff;
text-transform:none;
}
.process h3{
    padding: 15px;
}
.process p{
    padding: 10px;
}
.your-info{
margin: 40px 90px;

padding: 40px;
}
.your-info button{
margin-left: 300px;
position: absolute;
}
.your-info .submit-button{
padding: 0.8rem;
padding: 0.5rem 1rem;
    margin: 10px 300px;
    font-size: 18px;
    background-color: #015e3f;
    color: #ffffff;
    border-color: #016342;
    border-radius: 10px;
    font-weight: 600;
}
.your-info .reset-button{
    padding: 0.5rem 1.5rem;
    margin: 10px 150px;
    font-size: 18px;
    color: #015e3f;
    border-color: #016342;
    border-radius: 10px;
    font-weight: 600;
    }
    
    .rennilifier img{
        width: 500px;

        margin-left: 0%;


    }

.inputs{
    
    font-size: 20px;
  
}

 .inputs input{
padding: 10px 0px;
width: 500px;
font-size: 16px;
box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
border-style: none;

}
.inputs li{
color: red;
}
.bottom-logo{
    padding: 1rem;
    margin-left: 5rem;
}
 .footer-page{
background: #015e3f;
margin: auto;
color: #fff;
position: relative;
padding: 30px;

justify-content: space-between;
align-items: center;

 } 
 .footer-page p{
font-size: 20px;
 }
 .social-media{
    margin-left: 4rem;
 }
 .social-media img{

width: 2rem;
margin-left: 20px;
padding: 2px;

 }
 .linkers p ,.linkers ul{
 padding: 20px;
margin-left: 30px;
 }
 .bottom-ul li{
 color: #cec1c1;
 margin: 20px;
 min-width: 2rem;

 }
 .bottom-ul li:first-child{
    font-weight: 600;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;

 }


 address {
padding: 3rem 4rem;
margin-bottom: 10px;
justify-content:center;
align-items: center;

 }
 address li{
    padding: 0.75rem;
    margin-bottom: 3px;
 }
    
    